<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Gerador de DANFE online gratuito e open source. Imprimir e gerar DANFE online da nota fiscal eletrônica" />
    <meta name="keywords" content="DANFE, danfe online, consulta danfe, meu danfe, danfe pdf, gerar danfe, gerar danfe online, gerar nfe, gerar Nota Fiscal Eletrônica, gerar Nota Fiscal, gerar NF-e, gerar nfe, gerar NF-e, buscar xml, gerar xml, gerar nfe xml, gerar pdf danfe, danfe pdf, pdf danfe, gerar danfe de nfe, gerar danfe da nota, como gerar danfe, gerar danfe do xml, gerar nfe em pdf, gerar nfe pelo xml,gerar danfe pela chave de acesso, gerar danfe pela chave, chave de acesso nfe, nfe chave de acesso, nfe chave de acesso, numero da chave de acesso, gerar dacte pelo arquivo XML, danfe simplificado, gerar CC-e, vizualizar NF-e, vizualizar NFE, CC-e pela chave de acesso, validar nfe, validar NF-e, validar NF-E, imprimir nfe, imprimir nota fiscal, imprimir NF-e, blazor, open source, código aberto">
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="DanfeFluentBlazor.styles.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js" autostart="false"></script>
    <script>
        Blazor.start({
            webAssembly: {
                applicationCulture: 'pt-BR'
            }
        });
    </script>
</body>

</html>
